
@media (min-width: 1024px) 
    
@media (max-width: 1024px)
    .back__img
        &::after
            display: none
    ._header-round
        display: none
    .back__img 
        width: calc(70% - 15px)
    .video__link
        margin-left: 0
    .statistic__block
        padding: 85px 0

@media (max-width: 767px)
    .back__img
        width: 80%
    .header__nav,
    .header__btn
        display: none
    .header__container
        justify-content: space-between
    .burger-menu
        display: inline-block
    .title__page
        h1
            font-size: 70px
        p 
            font-size: 18px
    .video__page
        margin-top: 70px
    .statistic__item
        h3
            font-size: 36px
        p
            font-size: 16px
    .statistic___text
        p
            font-size: 16px
            max-width: 100%
            text-align: justify
    .statistic__block
        padding: 35px 0
        gap: 30px
    .gallery-block
        padding-bottom: 45px
    .gallery-block-row
        gap: 50px
    .gallery-block-container
        gap: 50px
    .statistic__block
        flex-direction: column-reverse
        div
            width: 100%
    .sell-nft
        padding: 40px 0px 50px 0px
        h2
            font-size: 46px 
    .sell-nft-item 
        padding: 22px 17px 15px 17px
    .trending-body
        grid-template-columns: 1fr
    .trending-item:nth-child(even)
        margin-top: 0
        margin-left: 0
    .trending-link
        bottom: -70px
        right: auto
    .trending
        display: flex
        flex-direction: column
        align-items: center


@media (max-width: 620px)
    .title__page
        h1
            font-size: 54px
            line-height: 70px
        p 
            font-size: 16px
    .video__link
        font-size: 18px
        img
            padding: 8px
    .statistic__item
        h3
            font-size: 36px
    .sell-nft-body
        flex-direction: column
    .sell-nft-item 
        width: 100%
        min-height: 220px


@media (max-width: 480px)
    .title__page
        h1
            font-size: 36px
            line-height: 50px
    .video__link
        font-size: 16px
        img
            padding: 4px
    .gallery-block-row
        gap: 30px
    .gallery-block-container
        gap: 30px
    .video__page
        padding: 10px 0










